.businessCard{
    display: inline-block;
    float: left;
    border-radius: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 2vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-style: double;
    border-width: medium;
    border-color: black;
}
.businessCard:hover{
    color: white;
}
.businessCard img{
    width: 70%;
    height: 70%;
    border: 2px;
    border-color: black;
    border-style: double;
    margin-left: 15%;
    margin-right: 15%;
}

#sideMenu{
    border-radius: 15px;
    background-color: rgba(10,10,10,0.1);

    float: left;
    margin-left: 20px;
    width: 12vw;
    margin-top: 2vh;
    border-style: double;
    border-color: rgba(10,10,10,0.8);
    padding-left: 3px;
    padding-right: 3px;
    height: 100%;
}
#sideMenu:hover{
    background-color: rgba(10,10,10,0.6);
    color: white !important;
}


@media only screen and (max-width: 850px) { 
    #sideMenu {
        display: none;
    }
    #contentContainer {
        float: none;
        margin-left: 50%%;

    }
}



.sideMenuItem{
    font-size: 80%;
    padding: 4px 30px 4px 4px;

    word-wrap: break-word;
    font-size: 1.5em;
    min-height: 4vw;
    min-width: 15vw;


    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 1));
    text-overflow: ellipsis;
    text-align: right;

    border-color: white;

    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-color: rgba(255,255,255, 0.2);
    border-right-width: thin;
}


.menuImg{
    width: 8vw;
    height: 8vw;
    margin-left: 14.5%;
    margin-top: 10px;

}

.sideMenuText{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 95%;
    line-height: 1.5;
    word-wrap: break-word;
    font-family: 'Alegreya SC',serif;
    color: black;
}

.sideMenuText:hover{
    color: white;
}



ul.sideMenuLinks{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    font-weight: 600;
}

ul.sideMenuLinksLI:hover{
     color:white;
}
li.sideMenuLinksLI  {
    font-size: 1em;
    font-variant: small-caps;
    display: block !important;
}

li.sideMenuLinksLI:hover  {
    color: white;
}
a.sideMenuLinksA{
    text-decoration: none;
    font-size: 1.2em;
    color: black;

}

a.sideMenuLinksA:hover{
    color: white;
}


.v1 {
    border-top: 1px solid white;
    height: 35px;
        border-style: solid;
        width: 1px;
        border-width: 1px;
        position: absolute;
        margin-left: 220px;
        margin-top: 5px;
}
