.window{
    background-color: #fafafa;
/*    background-image: url(https://i.redd.it/7f0sg5nimk821.png);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    color: #fff;
    min-height: 400px;
    width: 100%;
    top: 0;
    display: table;
	height: 200px;
  /* background-image: url(./summer/reddit-sokolovo-ukraine.jpg);*/

}

.windowDisplay{

    vertical-align: middle;
    text-align: center;
/*    text-shadow: 2px 2px #000000;
*/	font-family: 'Alegreya SC',sans-serif;
font-weight:200;

}
.windowText{
    padding-top: 150px;
    font-size: 3em;
    color: #ffffff;
text-shadow: 1px 1px 4px rgba(34,34,34,0.85);
}
.windowSubtitle{
    font-size: 1.2em;
    margin: 10px 50px;
color: #ffffff;
text-shadow: 1px 1px 4px rgba(34,34,34,0.85);
}


